@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Cloud Dictionary</PageTitle>

<MudContainer Class="d-flex align-center justify-center mud-width-full" style="min-height: 100vh;">
    <div>
        <MudText Typo="Typo.h2" Align="Align.Center" GutterBottom="false">define the cloud</MudText>
        <MudText Typo="Typo.body1" Align="Align.Center" GutterBottom="true">the community built cloud dictionary</MudText>
       
        <MudContainer Class="mt-11">
            <MudTextField Label="Search for any cloud word or concept" @bind-Value="_searchTerm" OnInput="@OnInput">
            </MudTextField>
            <MudText Typo="Typo.h2" Align="Align.Center" Class="ml-0 mt-0">
                <MudButton OnClick="@NavigateToSearch" Color="Color.Primary" Variant="Variant.Filled">Search</MudButton>
            </MudText>
        </MudContainer>
    </div>
</MudContainer>




@code {
    bool disabled = false;
    private string _searchTerm;

    private void OnInput(string value)
    {
        _searchTerm = value;

        // Check if the 'Enter' key was pressed.
        if (value.EndsWith("\r\n") || value.EndsWith("\n"))
        {
            // Remove the newline character(s) from the search term.
            _searchTerm = value.TrimEnd('\r', '\n');

            NavigateToSearch();
        }
    }

    private void NavigateToSearch()
    {
        var url = $"definitions/{_searchTerm}";
        NavigationManager.NavigateTo(url);
    }
}
